@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-alpino);
  --animate-slide-left: slide-left 3s linear infinite;
  --animate-spin-slow: spin 6s linear infinite;
}

@keyframes slide-left {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

body {
  font-family: var(--font-sans), sans-serif;
}
